[phases.setup]
nixPkgs = ["jdk"]

[phases.install]
cmds = [
  "cd spring-backend && chmod +x ./mvnw && ./mvnw clean package -DskipTests"
]

[start]
cmd = "cd spring-backend && java -jar target/*.jar"

